@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/countries" class="btn btn-primary">
        Click here to view Country list using Redis cache
    </a>

    <fieldset>
        <legend>
            JSON Document
        </legend>
        <a href="/create-json-index" class="btn btn-info">
            Click here to initialize index
        </a>

        <a href="/countries-json" class="btn btn-info">
            Click here to view json document country
        </a>

    </fieldset>

</div>